<div>
    <section>
        {{> title data="Java Script" big=true}}

        <div>

            <div class="card p-2">
                <div class="card-header">
                    <b>Language name: </b><i>{{name}}</i>
                    <b>Description: </b><i>{{description}}</i>
                    <b>History: </b><i>{{#with history}}</i>
                    <dd>- Founded in: <i>{{year}}</i></dd>
                    <dd>- Founder: <i>{{founder}}</i></dd>
                    {{/with}}
                </div>
                <div>
                    <b>Types: </b>
                    <details>{{#each types}}
                        <dd><i>-{{this}}</i></dd>
                        {{/each}}
                    </details>
                    <b>Syntax: </b>
                    <details>{{#with syntax}}
                        <dl>
                            <dd><b>Variables: </b>{{#each variables}}
                            <dd><i>-{{this}}</i></dd>
                            {{/each}}
                            </dd>
                            <dd><b>Functions: </b> <br> <i>-{{functions}}</i></dd>
                            <dd><b>Conditionals: </b>{{#each conditionals}}
                            <dd><i>-{{this}}</i></dd>
                            {{/each}}</dd>
                            <dd><b> Loops: </b>{{#each loops}}
                            <dd><i>-{{this}}</i></dd>
                            {{/each}}
                            </dd>
                            <dd><b>Classes: </b> <br> <i>-{{classes}}</i></dd>
                        </dl>
                        {{/with}}
                    </details>
                    <b>Features: </b>
                    <details>{{#each features}}
                        <dd><i>-{{this}}</i></dd>
                        {{/each}}
                    </details>
                    <b>Libraries: </b>
                    <details>{{#each libraries}}
                        <dd><i>-{{this}}</i></dd>
                        {{/each}}
                    </details>
                    <b>Tools: </b>
                    <details>{{#each tools}}
                        <dd><i>-{{this}}</i></dd>
                        {{/each}}
                    </details>
                    <b>Community: </b>
                    <details>{{#each community}}
                        <dd>Name: <i>{{name}}</i></dd>
                        <dd>Type: <i>{{type}}</i></dd>
                        <br>
                        {{/each}}
                    </details>
                </div>
            </div>
    </section>

</div>