<main>
  <section>
    <div class="card p-2">
      <div class="card-header">
        {{#with person}}
        <div>
          <h1>{{name}}</h1>
        </div>
        <div> <b>Age:</b> <em>{{age}}</em> </div>
        <div> <b>Gender:</b> <em>{{gender}}</em> </div>
        {{/with}}
      </div>
      <div class="card-body">
        <div>
          <h4>Address:</h4>
          {{#with person.address}}
          <b>Street:</b> <em>{{street}}</em><br>
          <b>City:</b> <em> {{city}}</em><br>
          <b>State:</b> <em>{{state}}</em><br>
          <b>Zip:</b> <em>{{zip}}</em><br>
          <b>Country:</b> <em>{{country}}</em><br>
          {{/with}}
        </div>
        <hr />
        <div>
          <h4>Education:</h4>
          {{#each person.education}}
          <b>Degree:</b> <em>{{degree}}</em><br>
          <b>Major:</b> <em>{{major}}</em><br>
          <b>University:</b> <em>{{university}}</em><br>
          <b>Graduation year:</b>
          <em>{{graduationYear}}</em><br>
          {{/each}}
        </div>
        <hr />
        <div>
          <h4>Work experience:</h4>
          {{#each person.workExperience}}

          <b>Company:</b> <em>{{company}}</em><br>
          <b>Title:</b> <em>{{title}}</em><br>
          <b>Work period:</b>
          <em>{{startDate}}
            to
            {{#if endDate}}
            {{endDate}}
            {{else}}
            (досі працюю)
            {{/if}}</em><br>

          <b>Responsibilities:</b>
          <em>{{responsibilities}}</em><br>

          <b>Foundation:</b> <em>{{year_founded}}</em><br>
          <b>Industry: </b><em>{{industry}}</em><br>
          <b>Employees information:</b>
          {{#each employees}}
          <ul>
            <li><b>Name:</b><em>{{name}}</em></li>
            <li><b>Position:</b><em>{{position}}</em></li>
            <li><b>Department:</b><em>{{department}}</em></li>
            <li><b>Projects: </b>{{#each projects}}
              <ul>
                <li><b>Project name: </b><em>{{name}}</em></li>
                <li><b>Description: </b><em>{{description}}</em></li>
                <li><b>Status: </b><em>{{status}}</em></li>
                <li><b>Teams:</b>{{#each teams}}
                  <ul>
                    <li>Team name:
                      <em>{{team_name}}</em>
                    </li>
                    <li>Team leader:
                      {{#with team_leader}}
                      <ul>
                        <li>Name:
                          <em>{{name}}</em>
                        </li>
                        <li>Title:
                          <em>{{title}}</em>
                        </li>
                        <li>Email:
                          <em>{{email}}</em>
                        </li>
                      </ul>
                      {{/with}}
                    </li>
                    <li>Team members:
                      {{#each team_members}}
                      <ul>
                        <li>Name:
                          <em>{{name}}</em>
                        </li>
                        <li>Title:
                          <em>{{title}}</em>
                        </li>
                        <li>Email:
                          <em>{{email}}</em>
                        </li>
                        <li>Skills:
                          <em>{{skills}}</em>
                        </li>
                        <li>Projects:
                          {{#each projects}}
                          <ul>
                            <li>Name:
                              <em>{{name}}</em>
                            </li>
                            <li>Description:
                              <em>{{description}}</em>
                            </li>
                            <li>Technologies:
                              <em>{{technologies}}</em>
                            </li>
                            <li>Team members:
                              {{#each team_members}}
                              <ul>
                                <li>Name:
                                  <em>{{name}}</em>
                                </li>
                                <li>
                                  Title:
                                  <em>{{title}}</em>
                                </li>
                                <br />
                              </ul>
                              {{/each}}
                            </li>
                          </ul>
                          {{/each}}
                        </li>
                      </ul>
                      {{/each}}
                    </li>
                  </ul>
                  {{/each}}
                </li>
              </ul>
              {{/each}}
            </li>
          </ul>
          {{/each}}
          </li>

          {{/each}}
        </div>
      </div>
    </div>
  </section>
</main>