<main>
    <h2 class='mb-3'>{{header}}</h2>
    <div class='row'>
        <div class='col-8'>
                <div class="mt-4 mb-4">
                    {{#with contacts_data}}
                        <h4 class='mb-3'>{{title}}</h4>
                        <div class="pb-3">
                            {{#each buttons}}
                                {{#if isPrimary}}
                                    <a href='#'  class='btn btn-warning'>{{text}}</a>
                                {{else}}
                                    <a href='#' class='btn btn-outline-warning'>{{text}}</a>
                                {{/if}}
                            {{/each}}
                        </div>
                        <div >
                            {{#with form}}
                                <div class='row mb-4'>
                                    {{#with input}}
                                        {{> contactData}}
                                    {{/with}}
                                </div>
                                <hr>
                                <div >
                                    {{#each switch}}
                                        {{#if isActive}}
                                            <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" role="switch"checked >
                                            <label class="form-check-label">{{text}}</label>
                                            </div>
                                        {{else}}
                                            <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" role="switch" >
                                            <label class="form-check-label">{{text}}</label>
                                            </div>
                                        {{/if}}
                                    {{/each}}
                                </div>
                            {{/with}}
                        </div>
                    {{/with}}
                </div>
                <hr>
                <div >
                    {{#with delivery}}
                        <h4>{{title}}</h4>
                        <div select class="card p-2 ">
                            <div class="row">
                                {{#each select}}
                                    <div class=" col-6">
                                        {{> selectList}}
                                    </div>
                                {{/each}}
                            </div>
                        </div>
                        <div class="pt-3 pb-3">
                            <form>
                                {{#each delivery_type}}
                                    <div class='form-check'>
                                        {{> radio}}
                                    </div>
                                {{/each}}
                            </form>
                        </div>
                        <hr>
                        <div class="pt-3 pb-3">
                            {{#with payment class="pt-3 pb-3"}}
                                <h4>{{title}}</h4>
                                <form>
                                    {{#each list}}
                                        <div class='form-check'>
                                            {{> radio}} 
                                        </div>
                                    {{/each}}
                                </form>
                            {{/with}}
                        </div>
                        <hr>
                        <div class='row pt-3 pb-3'>
                            {{#with contact}}
                                <h4 class='mb-3'>{{title}}</h4>
                                    {{> contactData}}
                            {{/with}}
                        </div>
                        <hr>
                        <div class="pt-3 pb-3">
                            {{#with coment}}
                                {{label}}
                                <div class="row ps-2 pe-2 form-check">
                                    <input type='text' class='form-control' placeholder='{{placeholder}}'></iput>
                                </div>
                            {{/with}}
                        </div>
                    {{/with}}
                </div>
            
            <hr>
            <div class="mt-4 mb-4">
                {{#with coupon}}
                    <h4 class='mb-3'>{{title}}</h4>
                    <div>{{#with select}}
                        <div>{{#with availabel_coupon}}
                            <div class="pt-2 pb-2">
                                <label class='form label'>{{label}}</label>
                                <div class="row ps-2 pe-2">
                                    <select class='form-select-lg'>
                                        <option class='selected'>{{placeholder}}</option>
                                        {{#each options}}
                                            <option>{{text}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                        </div>{{/with}}
                        <div>{{#with friend_coupon}}
                            <div class="pt-2 pb-2">
                                <label class='form label'>{{label}}</label>
                                <div class="row ps-2 pe-2">
                                    <select class='form-select-sm'>
                                        <option class='selected'>{{placeholder}}</option>
                                        {{#each options}}
                                            <option>{{text}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                        </div>{{/with}}
                    </div>{{/with}}
                    <div>{{#with add}}
                        <div>{{#with friend}}
                            <div class="pt-2 pb-2">
                                <label class='form-label'>{{label}}</label>
                                <div><input type='text' class='col-12 form-control-lg' placeholder='{{placeholder}}'></iput></div>
                                <div class='form-text'>{{caption}}</div>
                            </div>
                        </div>{{/with}}
                        <div>{{#with colleague}}
                            <div class="pt-2 pb-2">
                                <label class='form-label'>{{label}}</label>
                                <div><input type='text' class=' col-10 form-control-sm' placeholder='{{placeholder}}'></iput></div>
                                <div class='form-text'>{{caption}}</div>
                            </div>
                        </div>{{/with}}
                    </div>{{/with}}
                {{/with}}
            </div>
            <hr>
            <div class="mt-4 mb-4">
                {{#with quiz}}
                    <h4 class='mb-3'>{{title}}</h4>
                    <div>
                        {{#with preference}}
                            {{title}}
                            <form>
                                {{#each options}}
                                    {{> radio}}
                                {{/each}}
                            </form>
                        {{/with}}
                    </div>    
                    <div class= 'mb-2'>
                        {{#with your_expirience}}
                            {{> formLabel}}
                        {{/with}}
                    </div>
                    <div class= 'mb-2'>
                        {{#with purchase_frequency}}
                            {{> selectList}}
                        {{/with}}
                    </div>
                    <div class= 'mb-2'>
                        {{#with factors}}
                            {{title}}
                            <form>
                                {{#each options}}
                                    {{> radio}}
                                {{/each}}
                            </form>
                        {{/with}}
                    </div>
                {{/with}}
            </div>
        </div>
        <div class= 'mt-4 col-4'>
            <div class="card row mb-3">
                {{#each action_block}}
                    <div>
                        {{#if isSuccess}}
                            <a href='#'  class='mb-2 mt-2 btn btn-success'>{{text}}</a>
                        {{/if}}
                        {{#if isDanger}}
                            <a href='#'  class='mb-2 btn btn-danger'>{{text}}</a>
                        {{/if}}
                        {{#if isInfo}}
                            <a href='#'  class='mb-2 btn btn-info'>{{text}}</a>
                        {{/if}}
                    </div>
                {{/each}}
            </div> 
            <div class="card p-2 row">
                {{#with total}}
                    <h4>{{title}}</h4>
                    {{#each item_list}}
                        {{name}}: {{price}}<br>
                    {{/each}}
                    <hr class="mt-2 mb-2">
                    {{#each additional_info}}
                        {{text}}: {{value}}<br>
                    {{/each}}
                    <hr class="mt-2 mb-2">
                    {{#with total_price}}
                        {{text}}: {{value}}
                    {{/with}}
                    <div class="ps-0">
                        {{#each button}}
                            {{#if isPrimary}}
                                <a href='#'  class='mb-2 mt-2 btn btn-primary'>{{text}}</a>
                            {{else}}
                                <a href='#'  class='mb-2 btn btn-outline-primary'>{{text}}</a>
                            {{/if}}
                        {{/each}}
                    </div>
                {{/with}}
            </div>
        </div>
    </div>
  <hr>
</main>