<main>
    <div class='mb-5'>
        {{#with header}}
        <div class='mb-4 display-5'>
            <b>{{title}}</b>
        </div>
        {{#with button}}
        <a href='{{link}}' class='btn btn-outline-secondary'>{{text}}</a>
        {{/with}}
        {{/with}}
    </div>
    <hr />
    <div class='mb-5'>
        {{#each goodsBlock}}
        {{> cartGoodsItem}}
        {{/each}}
    </div>
    <hr>
    <div class='mb-5'>
        {{#with total}}
        <div class='mt-5 mb-4'>
            <h3>{{title}}</h3>
        </div>
        <div class='mb-4 display-5'>
            <b>{{amount}}</b>
        </div>
        <div class="col-3">
            {{#each buttons}}
            {{#if isSuccess}}
            <a href='{{link}}' class='mt-2 btn btn-success'>{{text}}</a>
            {{else}}
            <a href='{{link}}' class='mt-3 btn btn-outline-success'>{{text}}</a>
            {{/if}}
            {{/each}}
        </div>
        {{/with}}
    </div>
    <hr>
    <div class='mb-5'>
        {{#with goodsOtherBlock}}
        <div class='text-center mt-5 mb-4'>
            <h3>{{title}}</h3>
        </div>
        <div class="row">
            {{#each cards}}
            {{> shopcard}}
            {{/each}}
        </div>
        {{/with}}
    </div>
    <hr>
    <div class="mt-5 mb-5">
        {{#with subscribe}}
        <div class="card text-bg-dark p-2">
            <h2>{{header}}</h2>
            <p>{{description}}</p>
            <div class='col-3'>
                {{#each buttons}}
                <a href='{{link}}' class='mt-3 btn btn-primary'>{{text}}</a>
                {{/each}}
            </div>
        </div>
        {{/with}}
    </div>
    <hr>
</main>