<main>
    <div class="mt-5">
        {{> breadcrumb}}
    </div>
    <div class="mt-5">
        <div class=' mb-4 display-5'>
            <b>{{header}}</b>
        </div>
        <div class="row">
            {{#each sortBlock}}
            <div class="col-3">
                {{> selectList}}
            </div>
            {{/each}}
        </div>
        <div class="row mt-5">
            <div class="col-4">
                <div class="card p-2">
                    {{#with filterBlock}}
                    <div>
                        {{#with sellers}}
                        {{title}}
                        <div class="mt-2">
                            {{#each list}}
                            {{> formCheck}}
                            {{/each}}
                        </div>
                        {{/with}}
                    </div>
                    <hr>
                    <div>
                        {{#with brands}}
                        {{title}}
                        <div class="mt-2">
                            {{#with input}}
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="{{placeholder}}">
                            </div>
                            {{/with}}
                        </div>
                        <div class="mt-2">
                            {{#each options}}
                            {{> formCheck}}
                            {{/each}}
                        </div>
                        {{/with}}
                    </div>
                    <hr>
                    <div>
                        {{#with price}}
                        {{title}}
                        <div class="mt-2">
                            {{#with range}}
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="{{from}}">
                            </div>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="{{to}}">
                            </div>
                            {{/with}}
                        </div>
                        <div>
                            {{#with button}}
                            <a href="link" class="btn btn-outline-secondary">{{text}}</a>
                            {{/with}}
                        </div>
                        {{/with}}
                    </div>
                    <div>
                        {{#each filterList}}
                        <hr>
                        {{title}}
                        <div class="mt-2">
                            {{#each options}}
                            {{> formCheck}}
                            {{/each}}
                        </div>

                        {{/each}}
                    </div>
                    {{/with}}
                </div>
            </div>
            <div class="col-8">
                <div class="row">
                    {{#each goodsList}}
                    <div class="col-6">
                        {{> catalogItem}}
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="mt-5">
            {{> shopaction}}
        </div>
</main>