<div>
  <section>
    <div>
      {{#with page_header}}
        <div class='text-center'><h1>{{title}}</h1>
          <br />
          <p
            class='text-uppercase'
          >{{description}}</p></div>
      {{/with}}
    </div>
    <br />
    <div>
      {{#with section}}
        <div class='card'>
          <div class='card-body'>
            {{#with about_us}}
              <div class='text-end'><p
                  class='display-6'
                >{{title_list.main}}</p>
                <h2>{{title_list.sub}}</h2></div>
              <button
                class='btn btn-outline-info'
              >{{button.text}}</button>
            {{/with}}
          </div>
        </div>
        <br />
        <div class='card'>
          <div class='card box'>
            <section>
            {{#with advantage}}
              <p class='display-5'><span
                  class='text-muted'
                >{{title}}</span></p>
              <section>
                <div class='card'>
                  <div class='card box'>
                    {{#with efficiency}}
                      <section>
                        <p class='display-4'><span
                            class='text-muted'
                          >{{title}}</span></p>
                        <h6>{{sub_title}}</h6>
                        <p>{{description}}</p>
                        <p><button
                            class='btn btn-outline-warning'
                          >{{button}}</button></p>
                      </section>
                    {{/with}}
                  </div>
                </div>
                <br />
                <div class='card'>
                  <div class='card box'>
                    {{#with innovation}}
                      <section>
                        <div class='text-center'><p
                            class='display-4'
                          ><span
                              class='text-muted'
                            >{{title}}</span></p>
                          <h6>{{sub_title}}</h6>
                          <p>{{description}}</p></div>
                        <p><button
                            class='btn btn-outline-warning'
                          >{{button}}</button></p>
                      </section>
                    {{/with}}
                  </div>
                </div>
                <br />
                <div class='card'>
                  <div class='card box'>
                    {{#with collaboration}}
                      <section>
                        <div class='text-end'><p
                            class='display-4'
                          ><span
                              class='text-muted'
                            >{{title}}</span></p>
                          <h6>{{sub_title}}</h6>
                          <p>{{description}}</p>
                        </div>
                        <p><button
                            class='btn btn-outline-warning'
                          >{{button}}</button></p>
                      </section>
                    {{/with}}
                  </div>
                </div>
              </section>
            {{/with}}
          </div>
          </section>
        </div>
        <br />
        <div>
          <section>
              <div class='card'>
                  <div class='card-box'>
                      {{#with agreement}}
                        <div class='card'>
                          <div class='card-box'>
                            <section>
                              <p class='display-5'>{{title}}</p>      
                                <div class='card'>
                                  <div class='card-box'>
                                    {{#with info}}<section>
                                      <h5>{{sub_title}}</h5>
                                        <div class='card'>
                                          <div class='card-box'>
                                            {{#with detail}}<section>
                                              <p>{{text}}</p>
                                                <p><button
                                                class='btn btn-success'
                                                >{{button}}</button></p>
                                            {{/with}}
                                            </section>
                                          </div>
                                        </div>            
                                    </section>
                                    {{/with}}
                                  </div>
                                </div>    
                            </section>
                          </div>
                        </div>
                      {{/with}}
                   </div>
              </div>
          </section>
        </div>
      {{/with}}
    </div>
  </section>
</div>