{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div>
    {{#with main}}
    <main>
        <div class="card p-1">
            <div class="card-header">
                {{> title data="Work history" big=true}}
            </div>
            <div class="m-2">
                {{#each works}}
                <div>
                    <h5>{{position}}</h5>
                    <div> Period:
                        {{duration.from}} -
                        {{#if duration.to}}
                        {{duration.to}}
                        {{else}}
                        (досі працюємо)
                        {{/if}}
                    </div>
                    <div>
                        {{#with company}}
                        Company:
                        {{#if url}}
                        <a href="{{url}}">{{name}}</a>
                        {{else}}
                        {{name}}
                        {{/if}}
                        {{/with}}
                    </div>
                    <div>Amoun of projects: {{projectAmount}}</div>
                    <br>
                    <div>
                        {{#each projects}}
                        <div>
                            <b>Main project: </b>
                            <div><a href="{{url}}">{{name}}</a></div>
                        </div>
                        <div>About: <em>{{about}}</em></div>
                        <br>
                        <b>Project stacks</b> ({{stacksAmount}})
                        <br>
                        {{#each stacks}}
                        <div>{{name}}</div>
                        {{/each}}
                        <br>
                        <b>Project awards</b> ({{awardsAmount}})
                        <br>
                        {{#each awards}}

                        <div>{{name}}</div>

                        {{/each}}
                        <br>
                        {{/each}}
                    </div>
                    <hr>
                    {{/each}}
                </div>
            </div>
    </main>
    {{/with}}
</div>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}